.main2 {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  position: absolute;
  top: 50%;
  z-index: 5000;
  left: 30%;
}
.big2 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 50000000000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.mybtn2 {
  margin-top: 10px;
  border: 4px solid rgba(249, 249, 249, 0.8);
  width: 80% !important;
  padding: 20px;
  background-color: #137bb7;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.mybtn2:hover {
  background-color: #137bb7a6;
}
.bigman {
  width: 100%;
  background-color: #00000000 !important;
  height: 100vh;
  z-index: 555555555555555555555555555555555555555555555555555555;
  position: absolute;
}
.text2 {
  background-color: white;
}
body {
  overflow: hidden;
}
